## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.rsuser

## Rider
.idea/
*.sln.iml

## Entity Framework
**/Migrations/*.Designer.cs

## Environment
appsettings.*.json
!appsettings.Development.json

## Project
logs/
